<!-- body -->
<div class='container'>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">A/B testting 用户</h4>
        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-condensed">
                <table class="table table-bordered">
                    <tr>
                        <td>A方案下载个数:{{abuser.acount}}</td>
                    </tr>
                    <tr>
                        <td>B方案下载个数: {{abuser.bcount}}</td>
                    </tr>
                    <tr>
                        <td>补丁描述: {{abuser.description}}</td>
                    </tr>
                </table>
            </table>
        </div>
    </div>
    <!-- footer -->
    <div class="footer">
        <p>© Company 2016</p>
    </div>
</div>