<!-- body -->
<div class='container'>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel">创建应用</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="app-name" class="form-control-label">应用名称:</label>
                            <input type="text" class="form-control" id="app-name" maxlength="32">
                        </div>

                        <div class="form-group">
                            <label for="app-desc" class="form-control-label">应用描述:</label>
                            <input type="text" class="form-control" id="app-desc" maxlength="32">
                        </div>

                        <p class="text-center"><font color="#dc143c" id="err_msg"></font></p>
                    </form>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="create_app">创建</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <div id="page-wrapper" style="height: 1000px">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                                data-target="#exampleModal" data-whatever="@getbootstrap">创建应用
                        </button>
                    </p>

                </div>
            </div>
        </div>
        <h5 style="margin-left: 20px">此平台是多个app的多个版本使用的,App ID 需要绑定到app程序里面,在接口中用, server会检查 appid,app版本,补丁包版本,补丁包是否处于可发布状态等!</h5>

        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>应用名称</th>
                        <th>平台</th>
                        <th>App ID</th>
                        <th>描述</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each rows}}
                        <tr>
                            <td>{{appName}}</td>
                            <td>{{platfrom}}</td>
                            <td class="appUid">{{uid}}</td>
                            <td>{{descriiption_app}}</td>
                            >
                            <td>
                                <button class="appDetail btn btn-sm">管理</button>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- footer -->
        <div class="footer">
            <p>© Company 2016</p>
        </div>
    </div>


    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <!-- Bootstrap Core CSS -->
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../public/css//sb-admin.css')" rel="stylesheet">

    <script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="http://bootboxjs.com/bootbox.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            $("#create_app").click(function () {
                if ($("#app-name").val().length == 0) {
                    $("#err_msg").text('请输入应用名称');
                    return;
                }
                if ($("#app-desc").val().length == 0) {
                    $("#err_msg").text('请输入应用描述');
                    return;
                }
                $("#err_msg").text('');

                var dialog = bootbox.dialog({
                    message: '<p><i class="fa fa-spin fa-spinner"></i> 正在处理...</p>'
                });
                dialog.init(function () {
                    jQuery.ajax({
                        url: "/createApp?appname=" + $("#app-name").val() + "&description=" + $("#app-desc").val(),
                        type: 'get',
                        success: function (res, textStatus, jqXHR) {
                            dialog.find('.bootbox-body').html('添加成功!');
                            setTimeout(function () {
                                window.location.href = window.location.href;
                            }, 500);
//                            if (res.code == 200) {    //todo
//
//                            } else {
//                                dialog.find('.bootbox-body').html("<font color='red'>" + res.message + "</font>");
//                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            dialog.find('.bootbox-body').html("<font color='red'>系统异常!</font>");
                        }
                    });
                });
            });
        });
    </script>
</div>