<!-- body -->
<div class='container'>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <form id="create_patch_form" action="/singleUpload" method="post"
                          enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="description" class="form-control-label">渠道号:</label>
                            <input type="text" class="form-control us" id="tags" name="tags" placeholder="请输入渠道号"
                                   required=""
                                   autofocus="true">
                        </div>
                        <div class="form-group">
                            <label for="description" class="form-control-label">补丁描述:</label>
                            <input type="text" class="form-control" id="description" name="description"
                                   maxlength="32"
                                   placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="patch_file" class="form-control-label">补丁文件:</label>
                            <input type="file" class="form-control" id="patch_file" name="file">
                        </div>

                        <p class="text-center"><font color="#dc143c" id="err_msg"></font></p>
                        <input type="hidden" name="patch_type" value="0"/>
                    </form>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="create_patch_gray">创建</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">{{title}}</h4>
            </div>

            <h4>To know the road ahead, ask those coming back.</h4>
            <h5> 目前仅仅支持根据渠道来进行灰度测试
                360 渠道必须加固, 目前360 渠道的用户是不能用的.
                所以呢............ 只能根据渠道进行划分</h5>

            <h5>灰度功能测试: 产品经理根据功能进行验证,那么久根据某个渠道的app 统一进行灰度测试. 后续根据灰度测试的数据来调整</h5>
            <h5></h5>

            <div class="panel-body">
                <div class="row Login-box">
                    <div class="col-lg-4 col-lg-offset-4">

                        <!--<input type="text" class="form-control us" id="us" name="username" placeholder="请输入渠道号" required=""-->
                        <!--autofocus="true">-->

                        <!--<input id="referer" type="hidden" name="referer">-->
                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                                data-target="#exampleModal" data-whatever="@getbootstrap">上传补丁
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="footer">
        <p>© Company 2016</p>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <!-- <script src="http://v3.bootcss.com/assets/js/docs.min.js"></script> -->

    <!-- Bootstrap Core CSS -->
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../public/css//sb-admin.css')" rel="stylesheet">


    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="http://bootboxjs.com/bootbox.js"></script>

    <script type="text/javascript">
        $("#create_patch_gray").click(function () {
            if ($("#tags").val().length == 0) {
                $("#err_msg").text('请填写渠道号');
                return
            }
            if ($("#description").val().length == 0) {
                $("#err_msg").text('请输入补丁描述');
                return
            }
            if ($("#patch_file").val().length == 0) {
                $("#err_msg").text('请选择补丁文件');
                return
            }

            if (!$("#patch_file").val().endsWith('.apk') && !$("#patch_file").val().endsWith('.jar') && !$("#patch_file").val().endsWith('.zip') && !$("#patch_file").val().endsWith('.dex')) {
                $("#err_msg").text('补丁文件的名字必须以.apk .jar .zip .dex结尾');
                $("#patch_file").val('');
                return;
            }
            $("#err_msg").text('');
            var dialog = bootbox.dialog({
                message: '<p><i class="fa fa-spin fa-spinner"></i> 正在处理...</p>'
            });
            dialog.init(function () {
                setTimeout(function () {
                    window.location.href = window.location.href;
                }, 5000);
            });
            alert('空');
            $("#create_patch_form").submit();
        });
        //路由 注册的post 方式   构建post请求
        $.extend({
            StandardPost: function (url, args) {
                var form = $("<form method='post'></form>");
                var input;
                form.attr({"action": url});
                $.each(args, function (key, value) {
                    input = $("<input type='hidden'>");
                    input.attr({"name": key});
                    input.val(value);
                    form.append(input);
                });
                form.appendTo(document.body);
                form.submit();
                document.body.removeChild(form[0]);
            }
        });

    </script>

</div>


