<div class='container'>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">{{title}}</h4>
        </div>
        <div class="panel-body">
            <p><a href="/index">返回</a></p>
            <h6>{{message}}</h6>
        </div>
    </div>
    <!-- footer -->
    <div class="footer">
        <p>© Company 2016</p>
    </div>
</div>