<!-- body -->
<div class='container'>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">{{title}}</h4>
        </div>
        <div class="panel-body">
            <p class="lead">发布完成!</p>
        </div>
    </div>

    <!-- footer -->
    <div class="footer">
        <p>© Company 2016</p>
    </div>
</div>